<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Todon.Light"
        tools:ignore="ExtraText"
        tools:replace="android:allowBackup"
        tools:targetApi="tiramisu">

        <activity android:name=".About"
            />
        <activity android:name=".Settings" />
        <activity android:name=".OnBoardingActivity" />
        <activity android:name=".LabelsActivity" />

        <receiver android:name=".utils.NotificationReceiver" />
        <receiver android:name=".utils.NotificationActionReceiver" />

        <activity android:name=".MainActivity"
            />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:exported="true" />
                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:exported="true" />
            </intent-filter>
        </activity>


        <receiver
            android:name=".widgets.MyAppSmallWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name=".widgets.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".widgets.MyAppNoButtonsWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/no_buttons_widget_info" />
        </receiver>

        <service
            android:name=".widgets.NoButtonsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://57ed9cffc2c8b91a85db1dbde5bccc12@o282785.ingest.us.sentry.io/4510467467116544"
            />

        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />

        <!-- Add data like request headers, user ip address and device name, see https://docs.sentry.io/platforms/android/data-management/data-collected/ for more info -->
        <meta-data
            android:name="io.sentry.send-default-pii"
            android:value="true"
            />
        <!-- enable automatic breadcrumbs for user interactions (clicks, swipes, scrolls) -->
        <meta-data
            android:name="io.sentry.traces.user-interaction.enable"
            android:value="true"
            />
        <!-- enable screenshot for crashes -->
        <meta-data
            android:name="io.sentry.attach-screenshot"
            android:value="true"
            />
        <!-- enable view hierarchy for crashes -->
        <meta-data
            android:name="io.sentry.attach-view-hierarchy"
            android:value="true"
            />

    </application>

</manifest>